# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/
test/.test_coverage.dart
tags

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Android deploy api keys
android/key.properties
android/serviceAccount.json
android/app/francium.jks

# Ios Deploy api keys
*.certSigningRequest
*.cer
*.p12
*.mobileprovision

# Ios build file:
ios/Runner.app.dSYM.zip
ios/Runner.ipa
